Raspberry Pi 5/Planner/Przechwycenie wiadomości + Perplexity Push.json
{
  "name": "Przechwycenie wiadomości + Perplexity Push",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-plan",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        304
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Webhook",
      "webhookId": "ANONYMIZED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "Jesteś planerem zadań. [TUTAJ_TWÓJ_PROMPT_SYSTEMOWY_O_PRACY_I_SILOWNI]...",
              "role": "system"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -192,
        48
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "ANONYMIZED_WEBHOOK_ID",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// content to string\nconst raw = $input.first().json.message\n\n// parse JSON\nconst tasks = JSON.parse(raw);\n\n// jeśli chcesz dokleić user/channel z Webhooka:\nconst user = $node[\"Webhook\"].json.body.user;\nconst channelId = $node[\"Webhook\"].json.body.channel_id;\n\nreturn tasks.map(t => ({\n  json: {\n    ...t,\n    user,\n    channel_id: channelId,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        48
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "priority": "={{ $json.priority }}",
            "estimated_min": "={{ $json.estimated_min }}",
            "title": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "planned_start": "={{ $json.planned_start }}",
            "planned_end": "={{ $json.planned_end }}",
            "status": "pending",
            "channel_id": "={{ $json.channel_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated_min",
              "displayName": "estimated_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "planned_start",
              "displayName": "planned_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "planned_end",
              "displayName": "planned_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        48
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ANONYMIZED_WEBHOOK_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "limit": 100,
        "where": {
          "values": [
            {
              "column": "channel_id",
              "value": "={{ $('Webhook').item.json.body.channel_id.toString() }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "planned_start"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        48
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Select rows from a table",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ANONYMIZED_WEBHOOK_ID",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// jeśli SELECT nic realnie nie zwrócił (brak pola title)\nif (!items.length || !items[0].json.title) {\n  const root = $node[\"Webhook\"].json;\n  const mode = root.body?.mode || 'nieznany tryb';\n  const date = root.body?.date || '';\n\n  let info;\n  if (mode === 'today') info = 'dzisiaj';\n  else if (mode === 'tomorrow') info = 'jutro';\n  else if (mode === 'by_date' && date) info = `dzień ${date}`;\n  else info = mode;\n\n  return [\n    {\n      json: {\n        message: `Brak zaplanowanych zadań dla ${info}.`,\n      },\n    },\n  ];\n}\n\n\n// ----------------- jest co najmniej jedno zadanie -----------------\n\n// budujemy linie\nconst lines = items.map((item, i) => {\n  const t = item.json;\n  return `${i + 1}. ${t.title} (${t.planned_start} - ${t.planned_end}) [priorytet ${t.priority}] Status: ${t.status}`;\n});\n\n// dzielimy na paczki\nconst MAX_LEN = 1500;\nconst messages = [];\nlet current = 'Podsumowanie planu:\\n\\n';\n\nfor (const line of lines) {\n  if ((current + line + '\\n').length > MAX_LEN) {\n    messages.push(current);\n    current = '';\n  }\n  current += line + '\\n';\n}\nif (current.trim().length) {\n  messages.push(current);\n}\n\n// zwracamy wiele itemów – każdy osobna wiadomość\nreturn messages.map(m => ({ json: { message: m } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        272
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Code in JavaScript1",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1439991132766470278",
          "mode": "list",
          "cachedResultName": "Server.lab",
          "cachedResultUrl": "https://discord.com"
        },
        "channelId": {
          "__rl": true,
          "value": "1451650210760495194",
          "mode": "list",
          "cachedResultName": "plan",
          "cachedResultUrl": "https://discord.com"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        992,
        272
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Send a message",
      "webhookId": "ANONYMIZED_WEBHOOK_ID",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "discordBotApi": {
          "id": "ANONYMIZED_WEBHOOK_ID",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ANONYMIZED_WEBHOOK_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "plan"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ANONYMIZED_WEBHOOK_ID",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "today"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ANONYMIZED_WEBHOOK_ID",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "tomorrow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tomorrow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ANONYMIZED_WEBHOOK_ID",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "by_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "by_date"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ANONYMIZED_WEBHOOK_ID",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "agent_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zmiana"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -512,
        272
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        224
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        368
      ],
      "id": "458a11ee-3ee9-49e0-b034-3f96ceffa847",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        544
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Execute a SQL query2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// weź pierwszy input (dla webhooka i tak jest jeden)\nconst item = $input.first();\nconst data = item.json;\n\nif (data.mode !== 'by_date') {\n  // dla innych trybów nic nie zmieniamy\n  return [item];\n}\n\n// data.date np. \"06.01.2026\"\nconst dateStr = data.date;\nconst [day, month, year] = dateStr.split('.');\n\n// zbuduj ISO \"2026-01-06\"\nconst iso = `${year}-${month}-${day}`;\n\nreturn [\n  {\n    json: {\n      ...data,\n      isoDate: iso,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        544
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "\"Jesteś asystentem do zarządzania planem dnia. Masz listę zadań z bazy Postgres. Na podstawie polecenia użytkownika wybierz zadanie/zadania i wygeneruj instrukcję zmian tylko w formacie JSON (bez dodatkowego tekstu, bez początku typu \"```JSON\").\"\nDaty traktuj w strefie Europe/Warsaw.\nJeśli coś jest niejednoznaczne (np. kilka zadań z siłownią), dopytaj użytkownika.\nWarunki:\n1. Weź pod uwagę dojazd do pracy, oraz powrót z pracy około 30minut. \n2. Przed wyjściem na siłownie potrzebuję 30 minut na spakowanie i spożycie suplementów. \n3. Siłownia wraz z dojściem zajmuje około 2h.\n4. Nie planuj nic na 1,5h przed planowaną pracą.\n5. Praca odbywa się zmianowo 6-14, 14-22, 22-6. \n6. Zakupy trwają około 2h.\n7. Przed zakupami potrzebuje 30 minut na rozpisanie listy zakupów.\n8. Zawsze uwzględnij 8h snu na dobę.\n9. Po nocnej zmianie wyjątkowo sen w trakcie dnia, również 8h. \n10. zadania nie mogą nachodzić na siebie czasowo. ",
              "role": "system"
            },
            {
              "content": "=Polecenie użytkownika:\n{{ $json.discord_message }}\n\nLista zadań (JSON):\n{{ JSON.stringify($json.tasks) }}\n\nZawsze zwróć tylko JSON o dokładnie takie strukturze:\n{\n  \"actions\": [\n    {\n      \"title\": \"Krótki tytuł zadania\",\n      \"description\": \"Krótki opis\",\n      \"type\": \"update_status|reschedule|delete\"\n      \"task_id\": <id>,\n      \"new_planned_start\": \"YYYY-MM-DDTHH:MM|null\"\n      \"new_planned_end\": \"YYYY-MM-DDTHH:MM\"|null\"\n      \"new_status\": \"pending|in_progress|done\"\n    }\n  ]\n}\n\nJeśli nic nie zmieniasz, zwróć {\"actions\":[]}.\n"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        192,
        736
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Message a model1",
      "credentials": {
        "perplexityApi": {
          "id": "enQzBke7IbyWShMF",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        736
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// wszystkie rekordy z Postgresa\nconst rows = $input.all();    // 23 itemy\n\n// lista zadań jako czysty JSON (tablica)\nconst tasks = rows.map(item => item.json);\n\n// tekst z Discorda z Webhooka\nconst root = $node[\"Webhook\"].json;\nconst discordMessage = root.body?.content || '';   // albo inne pole\n\n// budujemy JEDEN item\nreturn [\n  {\n    json: {\n      discord_message: discordMessage,\n      tasks: tasks\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        736
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ANONYMIZED_WEBHOOK_ID",
              "leftValue": "={{ $json.message }}",
              "rightValue": "\"actions\":[]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        736
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1439991132766470278",
          "mode": "list",
          "cachedResultName": "Server.lab",
          "cachedResultUrl": "https://discord.com/"
        },
        "channelId": {
          "__rl": true,
          "value": "1451650210760495194",
          "mode": "list",
          "cachedResultName": "plan",
          "cachedResultUrl": "https://discord.com/"
        },
        "content": "Brak zmian ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        640,
        512
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Send a message1",
      "webhookId": "ANONYMIZED_WEBHOOK_ID",
      "credentials": {
        "discordBotApi": {
          "id": "RR14MaAP4HBemil9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message;\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { error: 'Nie udało się zparsować JSON z Perplexity', raw } }];\n}\n\nconst actions = data.actions || [];\nreturn actions.map(a => ({ json: a }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        816
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ANONYMIZED_WEBHOOK_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ANONYMIZED_WEBHOOK_ID",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "update_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ANONYMIZED_WEBHOOK_ID",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reschedule"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        880,
        800
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1439991132766470278",
          "mode": "list",
          "cachedResultName": "Server.lab",
          "cachedResultUrl": "https://discord.com/"
        },
        "channelId": {
          "__rl": true,
          "value": "1451650210760495194",
          "mode": "list",
          "cachedResultName": "plan",
          "cachedResultUrl": "https://discord.com/"
        },
        "content": "Usunięto zadanie",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1440,
        640
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Send a message2",
      "webhookId": "ANONYMIZED_WEBHOOK_ID",
      "credentials": {
        "discordBotApi": {
          "id": "RR14MaAP4HBemil9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.task_id }}",
            "status": "={{ $json.new_status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_min",
              "displayName": "estimated_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "planned_start",
              "displayName": "planned_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "planned_end",
              "displayName": "planned_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        832
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1439991132766470278",
          "mode": "list",
          "cachedResultName": "Server.lab",
          "cachedResultUrl": "https://discord.com/"
        },
        "channelId": {
          "__rl": true,
          "value": "1451650210760495194",
          "mode": "list",
          "cachedResultName": "plan",
          "cachedResultUrl": "https://discord.com/"
        },
        "content": "Ustawiono status na zakończono",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1440,
        832
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Send a message3",
      "webhookId": "ANONYMIZED_WEBHOOK_ID",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "RR14MaAP4HBemil9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1439991132766470278",
          "mode": "list",
          "cachedResultName": "Server.lab",
          "cachedResultUrl": "https://discord.com/"
        },
        "channelId": {
          "__rl": true,
          "value": "1451650210760495194",
          "mode": "list",
          "cachedResultName": "plan",
          "cachedResultUrl": "https://discord.com/"
        },
        "content": "Zaktualizowano plan ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1440,
        1040
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Send a message4",
      "webhookId": "ANONYMIZED_WEBHOOK_ID",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "RR14MaAP4HBemil9",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.task_id }}",
            "planned_start": "={{ $json.new_planned_start }}",
            "planned_end": "={{ $json.new_planned_end }}",
            "status": "={{ $json.new_status || undefined }}\n",
            "title": "={{ $json.title }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estimated_min",
              "displayName": "estimated_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "planned_start",
              "displayName": "planned_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "planned_end",
              "displayName": "planned_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        1040
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.task_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        640
      ],
      "id": "ANONYMIZED_WEBHOOK_ID",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "27w7mtHpJigYOx1k",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ANONYMIZED",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "134",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "mode": "agent_update",
            "channel_id": 1451650210760495000,
            "user": "mateuszjanik",
            "content": "dzisiejsze spotkanie zakończone"
          },
          "webhookUrl": "ANONYMIZED_WEBHOOK",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ANONYMIZED_WEBHOOK_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ANONYMIZED_WEBHOOK_ID"
  },
  "id": "QeDcvlW9ehpH6K1J",
  "tags": []
}